.history{
    padding: 20px 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-bottom: 50px;
}


.day-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-radius: 5px;
    gap: 10px;
    border: 1px solid var(--general-border-color);
    border-left: 3px solid var(--selected-item-color);
}
.date{
    margin: 0;
}
.day-entries{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    
}
.entry{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.sessions{
    margin-left: auto;
}


@media (orientation: portrait) {
    
    .history{
        max-height: calc(100vh - 110px);
        height: auto;
        flex-grow: 1;
        width: 100vw;
    }



}