.sideMenu{
    border-right: 1px solid rgba(211, 211, 211, 0.2);
    width: 60px;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    transition: all 0.1s;
    background-color: #171717;
    z-index: 10;
}
.sideMenu.expand{
    width: 30vw;
    transition: all 0.1s;
}

.fullscreen-button{
    width: 50px;
    height: 50px;
    min-height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    border: none;
}
.expand .fullscreen-button{
    margin-left: auto;
    margin-right: 10px;
}

.toggle-button{
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 0 10px 10px auto;
}
.expand .toggle-button{
    transition: all 0.1s;
    background-color: #0F0F0F;
}
.toggle-button img{
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.expand .toggle-button{
    background-color: #0F0F0F !important;
}

@media (orientation: portrait) {

    .sideMenu{
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 60px;
        flex-direction: row;
        border-top: 1px solid rgba(211, 211, 211, 0.2);
        align-items: center;
    }
    .buttons{
        width: 50px;
        margin: 0;
        margin-right: 10px;
    }
    .fullscreen-button{
        margin: 0;
        margin-left: 10px;
    }
    .sideMenu.expand{
        width: 100vw;
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 1fr;
        gap: 10px;
    }
    .toggle-button{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 10px;
        margin: 0;
    }
    .expand .toggle-button{
        background-color: transparent !important;
    }
    .toggle-button img{
        height: 40px;
        width: 40px;
    }
    .expand .fullscreen-button{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 50px;
        height: 50px;
        margin: 0;
        margin-left: 10px;
        align-self: center;
    }
    .fullscreen-button{
        border: none;
        margin-right: 25px;
    }
    .expand .fullscreen-button p{
        display: none;
    }
    .toggle-button img{
        transform: rotateZ(-90deg);
    }
}

