.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    background-color: #0F0F0F;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.192);
}
.message{
    margin-left: auto;
    font-size: 25px;
}
.modal button{
    margin-right: auto;
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
    background-color: #171717;
}
.close-button{
    margin-left: auto;
    margin-right: 20px !important;
    background-color: transparent !important;
    border: none;
}
.close-button img{
    height: 40px;
    width: 40px;
}
