*{
    box-sizing: border-box;
}

.toggle-button div{
    transition: all 0.1s;
}


.slideInFromTop{
    animation-name: slideInFromTopAnimation;
    animation-duration: 0.1s;
}
@keyframes slideInFromTopAnimation {
    from{
        top: -120%;
    }
    to{
        top: 0
    }
}