

.toggle-button div{
    transition: all 0.1s;
}


.slideInFromTop{
    animation-name: slideInFromTopAnimation;
    animation-duration: 0.1s;
}
@keyframes slideInFromTopAnimation {
    from{
        top: -120%;
    }
    to{
        top: 0
    }
}
/* themes */



:root {
    --bg-color: #171717;
    --text-color: #ffffff;
    --accent-color: #ff4500;
    --secondary-color: #0F0F0F;  
    --module-bg-color: #0F0F0F;
    --timer-border-color: lightgray;
    --settings-divider-color: rgba(221, 221, 221, 0.1);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(221, 221, 221, 0.1);
    --button-bg-color: #171717;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(221, 221, 221, 0.1);
}
*{
    box-sizing: border-box;
    color: var(--text-color);
}



/* Dark Theme */
.dark-theme {
    --bg-color: #171717;
    --text-color: #ffffff;
    --accent-color: #ff4500;
    --secondary-color: #0F0F0F; 
    --module-bg-color: #0F0F0F;
    --timer-border-color: lightgray;
    --settings-divider-color: rgba(221, 221, 221, 0.1);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(221, 221, 221, 0.1);
    --button-bg-color: #171717;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(221, 221, 221, 0.1);
}

/* Light Theme */
.light-theme {
    --bg-color: #ffffff;
    --text-color: #171717;
    --accent-color: #ff4500;
    --secondary-color: #d8d8d8;  
    --module-bg-color: #d8d8d8;
    --timer-border-color: rgba(211, 211, 211, 0.5);
    --settings-divider-color: rgba(0, 0, 0, 0.2);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(0, 0, 0, 0.1);
    --button-bg-color: #ffffff;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(0, 0, 0, 0.2);
}
.light-theme img{
    filter: invert(1);
}
/* Amoled Theme */
.amoled-theme {
    --bg-color: black;
    --text-color: #ffffff;
    --accent-color: #ff4500;
    --secondary-color: rgb(37, 37, 37);  
    --module-bg-color: rgb(0, 0, 0);
    --timer-border-color: lightgray;
    --settings-divider-color: rgba(221, 221, 221, 0.1);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(221, 221, 221, 0.1);
    --button-bg-color: #171717;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(221, 221, 221, 0.1);
}

/* Sakura Theme */
.sakura-theme {
    --bg-color: #ffffff;
    --text-color: #171717;
    --accent-color: #F5B7B1;
    --secondary-color: #cacaca;  
    --module-bg-color: #F5B7B1;
    --timer-border-color: lightgray;
    --settings-divider-color: rgba(221, 221, 221, 0.1);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(221, 221, 221, 0.1);
    --button-bg-color: #171717;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(221, 221, 221, 0.1);
}
.sakura-theme img{
    filter: invert(1);
}
/* Hatsune Miku Theme */
.miku-theme {
    --bg-color: #373b3e;
    --text-color: #ffffff;
    --accent-color: #47c8c0;
    --secondary-color: #bec8d1; 
    --module-bg-color: #252525;
    --timer-border-color: lightgray;
    --settings-divider-color: rgba(221, 221, 221, 0.1);
    --selected-item-color: #ff4500;
    --flash-animation-color: red;
    --button-border-color: rgba(221, 221, 221, 0.1);
    --button-bg-color: #171717;
    --checkbox-color: #ff4500;
    --general-border-color: rgba(221, 221, 221, 0.1);
}