.pomodoro{
    height: 100vh;
    width: 100vh;
    max-width: 100vh;
    max-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.minimize-button,
.settings-button{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    border: none;
    z-index: 20;
}
.settings-button{
    right: 15px;
    left: auto;
}


.timer{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.timer-background{
    background-color: var(--timer-border-color);
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-content{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--bg-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.timer-info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: transform 0.1s;
}
.timer-info:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}
.timer-info.expanded-info{
    height: calc(100% - 40px);
}
.timer-content .time{
    font-size: 50px;
}


.timer-background.animated-session-end {
    animation: flashGradient 0.5s infinite alternate ease-in-out;
}

@keyframes flashGradient {
    0% {
        background: red;
    }
    50% {
        background: white;
    }
    100% {
        background: red;
    }
}
.sessions-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.current-section-counter{
    color: var(--accent-color) !important;
}

.buttons{
    position: absolute;
    bottom: 10px;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: height 0.1s;
    gap: 10px;
}
.buttons.minimized-buttons{
    height: 30px;
    background-color: transparent;
}

.buttons .extra-info{
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s;
}
.buttons-container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all 0.1s;
}
.buttons button{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-bg-color);
    width: 75px;
    border: 1px solid transparent;
    transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.buttons button:active {
    transform: scale(0.9);
    border-color: var(--accent-color);
}
.expand-buttons-button{
    background-color: transparent !important;
    
}








/* settings */

.settings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    z-index: 50;
    padding: 10px;
    animation-name: showPomodoroSettings;
    animation-duration: 0.1s;

}
.settings-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
@keyframes showPomodoroSettings {
    from{
        right: -100%;
        opacity: 0;
    }
    to{
        right: 0;
        opacity: 1;
    }
    
}
.settings .header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.settings .header h2{
    margin-right: auto;
}
.settings .header button{
    background-color: transparent;
    border: none;
}
.setting{
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid var(--settings-divider-color);
    gap: 20px;
}
.setting p{
    margin-right: auto;
}
.setting input,
.setting option,
.setting select{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
    margin-left: auto;
}

/* minimized timer */

.minimized-pomodoro{
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(221, 221, 221, 0.2);
    justify-content: space-between;
    background: linear-gradient(to top, var(--timer-border-color) var(--progress), transparent var(--progress));
    padding: 10px 0;
}
.minimized-pomodoro .info{
    width: 50px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: var(--button-bg-color);
    border-radius: 5px;
    border: 1px solid transparent;
}
.minimized-pomodoro .buttons-container{
    width: 250px;
}
.minimized-pomodoro .minimized-time{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.minimized-pomodoro .minimized-time p{
    font-size: 25px;
}
.minimized-pomodoro .isFinished .minimized-time p{
    animation: flashText 0.5s infinite alternate ease-in-out;
}
@keyframes flashText {
    0% {
        color: var(--flash-animation-color);
    }
    50% {
        color: white;
    }
    100% {
        color: var(--flash-animation-color);
    }
}
.minimized-pomodoro .sessions-counter{
    gap: 2px;
}
.maximize-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}
.minimized-pomodoro .buttons{
    width: auto;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
}
.minimized-pomodoro .buttons button{
    width: 50px;
    height: 50px;
}




/* media queries */

@media (orientation: portrait) {
    .pomodoro{
        height: calc(100vw + 10px);
        width: 100vw;
        max-width: 100vw;
        max-height: calc(100vw + 10px);
        min-width: 100vw;
        min-height: calc(100vw + 10px);
        border-top: 1px solid rgba(211, 211, 211, 0.1);
    }
    .timer{
        height: 100vw;
        width: 100vw;
        max-width: 100vw;
        max-height: 100vw;
    }
    .minimized-pomodoro{
        height: 70px;
        width: 100vw;
        padding: 0;
        flex-direction: row;
        border: none;
        border-top: 1px solid rgba(211, 211, 211, 0.1);
        overflow: hidden;
        align-items: center;
        z-index: 20;
    }
    .minimizedButtons{
        display: flex;
        gap: 10px;
        flex-direction: row;
        padding: 0;
        height: 60px;
        width: 250px;
        margin: 0;
        background-color: transparent;
        align-items: center;
        
    }
    .minimizedButtons button{
        width: 50px;
        height: 50px;
        background-color: var(--button-bg-color);
        border: none;
    }
   
    .minimized-pomodoro .info{
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .minimized-pomodoro .minimized-time{
        flex-direction: row;
        padding: 0 10px;
        width: auto;
    }
    .minimized-pomodoro .maximize-button{
        z-index: 10;
    }
    .minimized-pomodoro{
        background: linear-gradient(to right, var(--accent-color) var(--progress), transparent var(--progress));
    }
}