.pomodoro{
    height: 100%;
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    padding: 15px;
    padding-right: 0;
    position: relative;
    box-sizing: border-box;
}
.top{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.timer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
}
.timer-background{
    background-color: white;
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-content{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #171717;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.timer-content .time{
    font-size: 50px;
}
.timer-content button{
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #0F0F0F;
}



.total-time{
    position: sticky;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgba(211, 211, 211, 0.1);
    background-color: #171717;
}
.total-time p:nth-child(2){
    opacity: 0.5;
}



.buttons{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    grid-row: 2 / 3;
    padding: 0 10px;
}
.buttons button{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F0F0F;
}
.buttons .small-button{
    width: calc((100% / 4) - 10px);
}

.buttons .small-button img{
    width: 30px;
    height: 30px;
}
.settings-button{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
}








/* settings */

.settings{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #171717;
    z-index: 20;
    padding: 10px;
    animation-name: showPomodoroSettings;
    animation-duration: 0.1s;
}
@keyframes showPomodoroSettings {
    from{
        right: -100%;
        opacity: 0;
    }
    to{
        right: 0;
        opacity: 1;
    }
    
}
.settings .header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.settings .header h2{
    margin-right: auto;
}
.settings .header button{
    background-color: transparent;
    border: none;
}
.settings-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.settings-section .top p{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
}
.settings-section .top{
    display: flex;
    gap: 10px;
    align-items: center;
}
.settings-section .top input,
.settings-section option,
.settings-section select{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
}
